# dependencies
node_modules/

# env files
.env

# logs
logs
*.log

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Uploaded files (keep folder structure but ignore actual uploads)
uploads/**/*
!uploads/**/.gitkeep